.mapContainer 
{
	overflow: hidden;
	z-index: 1;
	background-color:#474747;
}

.map
{
	background-color:#474747 !important;
	z-index: 0;
}

.mapContainer > *
{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.popup
{
	background-color: #FAFAFA;
	border-radius: 3px;
	color: #333;
}